# 执行touch命令可使add忽略指定文件
# touch .gitignore
/.vs/
/CSharpConcurrentInstance/obj/
/NUnitTestProject2/obj/
/CSharpConcurrentInstance/bin/Debug/netcoreapp3.1
/NUnitTestProject2/bin/Debug/netcoreapp3.1
/su1314..
